<header [ngClass]="{'dark-theme': isDarkTheme}">
  <img src="favicon-512x512.png" alt="Site Logo" width="40" height="40" class="site-logo" />

  <button mat-icon-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleTheme()" class="toggle-theme">
    <mat-icon class="theme-icon">{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>
</header>

<div *ngIf="isSettingsOpen" class="config-panel" [ngClass]="{'dark-theme': isDarkTheme}">
  <label [ngClass]="{'dark-theme': isDarkTheme}">
    # Replacement:
    <!-- <input [(ngModel)]="header1Replace" /> -->
    <select [(ngModel)]="header1Replace">
      <option> </option>
      <option>#</option>
      <option>→</option>
      <option>↠</option>
      <option>↣</option>
      <option>↦</option>
      <option>↳</option>
      <option>⇀</option>
      <option>⇁</option>
      <option>⇉</option>
      <option>⇒</option>
      <option>⇛</option>
      <option>⇝</option>
      <option>⇢</option>
      <option>⇥</option>
      <option>⇨</option>
      <option>⇾</option>
    </select>
  </label>
  <label [ngClass]="{'dark-theme': isDarkTheme}">
    ## Replacement:
    <!-- <input [(ngModel)]="header2Replace" /> -->
    <select [(ngModel)]="header2Replace">
      <option> </option>
      <option>⇒</option>
      <option>→</option>
      <option>↠</option>
      <option>↣</option>
      <option>↦</option>
      <option>↳</option>
      <option>⇀</option>
      <option>⇁</option>
      <option>⇉</option>
      <option>⇒</option>
      <option>⇛</option>
      <option>⇝</option>
      <option>⇢</option>
      <option>⇥</option>
      <option>⇨</option>
      <option>⇾</option>
    </select>
  </label>
  <label [ngClass]="{'dark-theme': isDarkTheme}">
    ### Replacement:
    <!-- <input [(ngModel)]="header3Replace" /> -->
    <select [(ngModel)]="header3Replace">
      <option> </option>
      <option>→</option>
      <option>↠</option>
      <option>↣</option>
      <option>↦</option>
      <option>↳</option>
      <option>⇀</option>
      <option>⇁</option>
      <option>⇉</option>
      <option>⇒</option>
      <option>⇛</option>
      <option>⇝</option>
      <option>⇢</option>
      <option>⇥</option>
      <option>⇨</option>
      <option>⇾</option>
    </select>
  </label>
</div>

<main class="main" [ngClass]="{'dark-theme': isDarkTheme}">
  <div class="container" [ngClass]="{'dark-theme': isDarkTheme}">
    <h1>Convert MD to LinkedIn Post</h1>
    <div class="textareas">
      <textarea placeholder="Enter Markdown here"></textarea>

      <textarea #convertedText placeholder="Converted LinkedIn Post" readonly></textarea>
      <!-- Wrap second textarea in a relative container -->
      <div class="copy-div" [ngClass]="{'dark-theme': isDarkTheme}">
        <button mat-icon-button class="copy-button" (click)="copyContent()" matTooltip="Copy">
          <mat-icon class="icon-small">content_copy</mat-icon>
        </button>
      </div>
    </div>
    <button (click)="convert()">Convert</button>
    <footer class="footer">
  <span>Made by JPVercosa</span>
  –

  <!-- GitHub -->
  <a href="https://github.com/jpvercosa" target="_blank" rel="noopener" class="social-link">
    GitHub
  <img src="github-mark.svg" alt="GitHub" class="github-logo" />
  </a>

  –

  <!-- Connect In -->
  <a href="https://www.linkedin.com/in/jpvercosa" target="_blank" rel="noopener" class="social-link">
    Connect
    <img src="linkedin-icon.svg" alt="Connect In" width="20" height="20" />
  </a>
</footer>
  </div>
</main>